* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.divider-horizontal {
  background-color: rgb(0, 148, 95);
  width: 73px;
  height: 2px;
}
.divider-vertical {
  background-color: rgb(102, 102, 102);
  width: 1px;
}

@mixin title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  color: rgb(0, 148, 95);
  text-align: center;
}
@mixin benefits__title {
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 148, 95);
  line-height: 1.292;
  text-align: left;
}
@mixin benefits__para {
  font-size: 18px;
  color: rgb(136, 136, 136);
  line-height: 1.722;
  text-align: left;
}
header {
  padding: 64px 36px 52px 36px;
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  .hero__img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }
  .hero__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero__title {
      padding-top: 70px;
      padding-bottom: 30px;
      @include title();
    }
    .hero__para {
      margin: 0;
      font-size: 18px;
      padding: 30px 35px 50px 35px;
      color: rgb(136, 136, 136);
      text-align: center;
    }
  }
  .hero__button {
    background-color: rgb(233, 115, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    width: 165px;
    height: 40px;
  }
  .hero__button--text {
    font-size: 24px;
    font-weight: 500;
  }
}
.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 35px;
  .benefits__title {
    @include title();
    padding-top: 44px;
    padding-bottom: 30px;
  }
  .benefits__info--top {
    display: flex;
    padding-top: 45px;
    align-items: top;
    .benefits__info--left {
      padding-right: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      .benefits__info--title {
        @include benefits__title();
        padding-bottom: 20px;
      }
      .benefits__info--para {
        @include benefits__para();
        .benefits__info-specialText {
          color: #779c27;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .benefits__info--right {
      padding-left: 25px;
      width: 50%;
      .benefits__info--title {
        @include benefits__title();
        padding-bottom: 20px;
      }
      .benefits__info--para {
        @include benefits__para();
      }
    }
  }
  .benefits__info--bottom {
    padding-top: 120px;
    display: flex;
    align-items: top;
    .benefits__info--left {
      padding-right: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      .benefits__info--title {
        @include benefits__title();
        padding-bottom: 20px;
      }
      .benefits__info--para {
        @include benefits__para();
      }
    }
    .benefits__info--right {
      padding-left: 25px;
      width: 50%;
      .benefits__info--title {
        @include benefits__title();
        padding-bottom: 20px;
      }
      .benefits__info--para {
        @include benefits__para();
      }
    }
  }
}
.locations {
  display: flex;
  flex-direction: column;
  padding: 70px 35px 0px 35px;
  .locations__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: #00945f;
    line-height: 1.292;
    text-align: center;
    height: 60px;
    width: 100%;
  }
  .locations__para {
    padding: 30px 70px;
    font-size: 18px;
    color: rgb(136, 136, 136);
    background-color: #ebf7f5;
    line-height: 1.722;
    text-align: left;
  }
}
footer {
  padding: 40px 35px;
  border-top: 2px solid rgb(0, 148, 95);
  .links {
    padding-bottom: 30px;
    display: flex;
    gap: 12px;
    .link__facebook {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3c5b9b;
      color: white;
      height: 30px;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    .link__twitter {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2daae1;
      color: white;
      height: 30px;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    .link__linkedin {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0173b2;
      color: white;
      height: 30px;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    .link__youtube {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e14e42;
      color: white;
      height: 30px;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .footer__para {
    font-size: 11px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    padding-bottom: 30px;
  }
  .footer__specialText {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  .footer_privacyStatement {
    font-size: 12px;
    color: rgb(0, 0, 0);
    line-height: 1.333;
  }
}
